API_PORT = 3001
DB_HOST_NAME = mongo-db
DB_PORT = 27017
DB_ROOT_USERNAME = root_user
DB_ROOT_PASSWORD = root_pass
DB_DATABASE = main
DB_USERNAME = application_user
DB_PASSWORD = application_pass
MONGO_EXPRESS_PORT = 8081
MONGODB_CONNECTIONSTRING = STRING DE CONEXÃO DO MONGODB
REDIS_PORT = 6379
REDIS_HOST = "127.0.0.1"
REDIS_PASSWORD = RedisPassword!
REDIS_FAMILY = 4
